<div class="modal-header">
    <h4 class="modal-title">{{ 'labels.addQuestionCategory' | translate }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
    <div [formGroup]="form">
        <div class="mb-3">
            <label for="name-field" class="form-label">{{ 'labels.questionCategoryName' | translate }}</label>
            <input type="text" id="name-field" class="form-control"
                placeholder="{{ 'labels.questionCategoryNameHint' | translate }}" required formControlName="name" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc"
        [canSubmit]="canSubmit"></viet-geeks-submit-button>
</div>
