<ng-container *ngIf="readyForUI$ | async">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <ul ngbNav #customNav="ngbNav" [activeId]="1"
                        class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                <i class="far fa-user"></i>
                                Your account
                            </a>
                            <ng-template ngbNavContent>
                                <div class="row g-2">
                                    <div class="col-lg-12">
                                        <span>Email: </span><span>{{userProfile.email}}</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <span>Plan: </span><span>Trail</span>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                <i class="far fa-envelope"></i>
                                Statistics
                            </a>
                            <ng-template ngbNavContent>
                                <p>tests created: 0</p>
                                <p>tests completed in the last 30 days: 0</p>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3" class="nav-item">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                <i class="far fa-envelope"></i>
                                Logo
                            </a>
                            <ng-template ngbNavContent>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-4">
                    <div class="tab-content">
                        <div [ngbNavOutlet]="customNav"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>