<viet-geeks-breadcrumbs [title]="title" [breadcrumbItems]="[]"></viet-geeks-breadcrumbs>
<div class="row">
    <div class="col-lg-3 col-xl-2">
        <div class="badge bg-primary text-wrap">{{ (testStatus | async) | testStatus }}</div>
        <ngb-accordion class="accordion-flush" #acc="ngbAccordion" activeIds="test-config" [closeOthers]="true">
            <ngb-panel id="test-config">
                <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                    Test Configuration
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="list-group list-group-flush">
                        <ng-container *ngFor="let menu of menus$ | async">
                            <a [routerLink]="menu.routerLink" [routerLinkActive]="'active'"
                                [class.disabled]="menu.disable" class="list-group-item list-group-item-action border-0">
                                <i [class]="menu.icon" class="align-middle me-2"></i>{{menu.text}}</a>
                        </ng-container>
                        <button *ngIf="(testStatus | async)  === 1" class="btn btn-primary w-sm" style="margin-top: 10px;"
                            (click)="activateTest()">{{ "labels." + activateMethod | translate}}</button>
                        <button *ngIf="(testStatus | async) === 2 || (testStatus | async) === 3" class="btn btn-primary w-sm" style="margin-top: 10px;"
                            (click)="endTest()">{{ "labels." + endMethod | translate}}</button>

                        <button *ngIf="(testStatus | async)  === 4" class="btn btn-primary w-sm" style="margin-top: 10px;"
                            (click)="restart()">{{ "labels.restart"  | translate}}</button>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="test-restult">
                <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                    Test progress & results
                </ng-template>
                <ng-template ngbPanelContent>
                    //todo
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="col-lg-9 col-xl-10">
        <ngx-spinner>
            <p class="loading">Loading...</p>
        </ngx-spinner>
        <router-outlet></router-outlet>
    </div>
</div>