<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <h5>Channel</h5>
                    <div class="d-flex gap-3">
                        <button type="button" class="btn btn-primary btn-label">
                            <i class="ri-ie-fill label-icon align-middle fs-24 me-2"></i>Web Browser</button>
                        <button type="button" class="btn btn-primary btn-label">
                            <i class="ri-team-line label-icon align-middle fs-24 me-2"></i>Microsoft Teams</button>
                    </div>
                </div>
                <div class="mb-3">
                    <h5>Access type</h5>
                    <div class="d-flex gap-3">
                        <button type="button" class="btn btn-primary btn-label">
                            <i class="ri-ie-fill label-icon align-middle fs-24 me-2"></i>Public link</button>
                        <button type="button" class="btn btn-primary btn-label">
                            <i class="ri-lock-password-line label-icon align-middle fs-24 me-2"></i>Private code
                            access</button>

                        <button type="button" class="btn btn-primary btn-label">
                            <i class="ri-team-line label-icon align-middle fs-24 me-2"></i>Group password</button>

                        <button type="button" class="btn btn-primary btn-label">
                            <i class="ri-ball-pen-line label-icon align-middle fs-24 me-2"></i>Training</button>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="alert alert-info alert-border-left alert-dismissible fade show" role="alert">
                        <i class="ri-airplay-line me-3 align-middle"></i>Anyone who has a link will be able to take the
                        test
                    </div>
                </div>
                <div class="hstack gap-3 mb-3">
                    <a class="form-control" href="#">https://www.dev.testmaster.io/test/DxJCp7RSFqk</a>
                    <button type="button" class="btn btn-outline-secondary flex-shrink-0">Copy link</button>
                </div>
                <div class="hstack form-check form-switch form-switch-lg mb-3">
                    <input type="checkbox" role="switch" id="flexSwitchCheckRightDisabled" class="form-check-input">
                    <label for="flexSwitchCheckRightDisabled" class="form-check-label">Require a private test access
                        code to authenticate a respondent. Before the test starts, a respondent will have to enter their
                        email address to which code will be sent.</label>
                </div>
                <div class="mb-3">
                    <h5>Respondents</h5>
                    <select data-choices formControlName="category" class="form-select" id="test-category-input"
                        style="width: 200px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <small class="text-muted">Number of times a respondent can take test.</small>
                </div>
                <button type="button" class="btn btn-link waves-effect">
                    <i class="ri-window-line label-icon align-middle fs-24 me-2"></i>How to embed a test on a
                    website?</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <h5>HONEST RESPONDENT TECHNOLOGY</h5>
                    <label>To increase test results reliability, activate a mechanism that monitors browser tab
                        movements. If any movement or tab switching is detected, the mechanism issues warnings or blocks
                        the test, according to the settings of your choice.</label>
                </div>
                <ngb-alert [type]="'info'" [dismissible]="false" class="alert-additional fade show custom-alert mb-3">
                    <div class="alert-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <i class="ri-information-line fs-16 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="alert-heading">Leaving test page accidentally</h5>
                                <p class="mb-0">If Honest Respondent Technology is activated, respondents receive a
                                    notification on the test start page. They are advised to disable system
                                    notifications, close applications running in the background and focus on taking the
                                    test.</p>
                                <p>It may happen, however, that a respondent leaves the test tab unintentionally. This
                                    can be caused by changing the volume, clicking outside the test tab or switching the
                                    taskbar on. If the test is taken on a mobile device, any notifications or calls may
                                    also trigger a warning.</p>
                                    <button type="button" class="btn btn-primary btn-label">See how it works</button>
                            </div>
                        </div>
                    </div>
                </ngb-alert>
                <div class="d-inline-flex flex-wrap gap-3 mb-3">
                    <div class="form-check form-check-secondary">
                        <input class="form-check-input" type="radio" id="percentage-score" checked>
                        <label class="form-check-label" for="percentage-score">Disable</label>
                    </div>
                    <div class="form-check form-check-secondary">
                        <input class="form-check-input" type="radio" id="p2" checked>
                        <label class="form-check-label" for="p2">Enable warnings only</label>
                    </div>
                    <div class="form-check form-check-secondary">
                        <input class="form-check-input" type="radio" id="p3" checked>
                        <label class="form-check-label" for="p3">Enable warning and test block</label>
                    </div>        
                </div>
            </div>
        </div>
        <div class="text-end mb-4">
            <div class="d-flex gap-1 justify-content-end">
                <button type="submit" class="btn btn-primary w-sm">Save</button>
            </div>
        </div>
    </div>