<div class="row">
    <ng-container *ngIf="readyForUI$ | async">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header border-bottom-0 text-uppercase">Configuration Summary</h5>
                <div class="card-body">
                    <ng-container *ngFor="let summary of summaries">
                        <div class="d-flex align-items-center gap-2 pb-3">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-soft-primary rounded fs-3" *ngIf="summary.status === 'ok'">
                                    <i class="ri-checkbox-circle-line label-icon align-middle fs-24 text-primary"></i>
                                </span>
                                <span class="avatar-title bg-soft-secondary rounded fs-3" *ngIf="summary.status === 'action'">
                                    <i class="ri-checkbox-blank-circle-line label-icon align-middle fs-24 text-secondary"></i>
                                </span>
                            </div>
                            <a class="fs-16 fw-semibold ff-primary text-reset"
                                [routerLink]="summary.url">{{summary.desc}}</a>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>