<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <p class="text-muted">In the table below, you can see all the questions. You can drop the orders.</p>
                <div class="table-responsive">
                    <div cdkDropList (cdkDropListDropped)="drop($event)" class="table align-middle table-nowrap mb-0">
                        <div class="example-box" *ngFor="let question of questions" cdkDrag  [innerHtml]="question.description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mb-4">
            <div class="d-flex gap-1 justify-content-end">
              <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc"
                [canSubmit]="canSubmit"></viet-geeks-submit-button>
            </div>
          </div>
    </div>
</div>