<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header border-bottom-0">TEST DURATION</h5>
            <div class="card-body">
                <label>Select test duration measuring method:</label>
                <div class="hstack gap-3 mb-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Time to complete the test: (hh:mm):
                        </label>
                    </div>
                    <input type="text" class="form-control border-dashed" style="width: 150px;">
                </div>
                <div class="hstack gap-3 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Time limit for each test question (mm:ss):
                        </label>
                    </div>
                    <input class="form-control border-dashed" type="text" style="width: 150px;">
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header border-bottom-0">TEST ACTIVATION OPTIONS</h5>
            <div class="card-body">
                <label>Choose test activation method:</label>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Manual test activation
                    </label>
                </div>
                <ngb-alert [type]="'info'" [dismissible]="false" class="alert-additional fade show custom-alert mb-3">
                    <div class="alert-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <i class="ri-information-line fs-16 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <p class="mb-0">In the bottom part of the configuration menu, you will find the "Activate test" button. After
                                    clicking it, respondents can access the test in the timeframe specified below. When setting the
                                    value, remember that latecomers won't be allowed to start the test.</p>
                            </div>
                        </div>
                    </div>
                </ngb-alert>
                <div class="hstack gap-3 mb-3">
                    <label for="flexRadioDefault2">Test will remain active for:</label>
                    <input class="form-control border-dashed" type="text" style="width: 150px;">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="si1">
                    <label class="form-check-label" for="si1">Activation in set time period</label>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header border-bottom-0">ADDTIONAL OPTIONS</h5>
            <div class="card-body">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Allow answering questions in any order and moving back or skipping questions
                    </label>
                </div>       
            </div>
        </div>
        <div class="text-end mb-4">
            <div class="d-flex gap-1 justify-content-end">
                <button type="submit" class="btn btn-primary w-sm">Save</button>
            </div>
        </div>
    </div>
</div>