:host {
    display: flex;
    gap: 0.5rem;

    .search {
        line-height: 2.5rem;
        border: none;
    }

    ul.list {
        max-height: 180px;
        overflow: auto;

        .list-group-item {
            cursor: pointer;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    }
}