<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div>
            <h3>{{config.name}}</h3>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="text-uppercase">Instruction</h5>
            <p [innerHTML]="config.instruction"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="text-uppercase">HONEST RESPONDENT TECHNOLOGY</h5>
            <p [innerHTML]="config.honestRespondentContent"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="text-uppercase">TEST START FORM</h5>
            <label>Fill in the form before starting the test.</label>
          </div>
          <ng-container [formGroup]="respondentIdentifyForm">
            <div formArrayName="fields" *ngFor="let field of fields['controls']; let i = index;">
              <div class="mb-3" [formGroupName]="i">
                <div class="row">
                  <div class="col-lg-8">
                    <label for="fieldValue" class="form-label">{{labels[i]}}</label>
                    <input type="text" class="form-control" id="mask-value" placeholder="" formControlName="fieldValue">
                  </div>
                </div>
              </div>
          </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
