@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import 'assets/scss/config/corporate/_variables.scss';

.short-editor {
    .ck-editor__editable {
        min-height: 100px !important;
    }
}

.ngx-spinner-overlay {
    border: 1px solid #e9ebec;
    border-radius: 3px;
    margin: 0 12px;
}

.form-control {
    &.ng-invalid {
        border-color: #dc3545;
        ;
    }
}

.control-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}


.btn:disabled {
    &.active {
        opacity: 1;
    }
}

.test-definition-sidebar {
    --vz-accordion-border-width: 0;
    --vz-accordion-active-bg: transparent;
    --vz-accordion-btn-focus-box-shadow: 0;

    .accordion-item {
        &.setting-parts {
            .accordion-button {
                padding-top: 0 !important;
            }
        }

        background-color: unset;

        .accordion-header {
            background-color: unset;

            .accordion-button {
                background-color: unset;
                padding: 16px 0 10px 0;

                .panel-title {
                    padding-right: 10px;
                }
            }
        }

        .accordion-body {
            padding: 0;

            .list-group {
                &-item {
                    background-color: unset;

                    &.active {
                        background-color: white;
                        color: var(--vz-list-group-color);
                        border-radius: 6px;
                        font-weight: 600;
                        box-shadow: $card-box-shadow;
                    }
                }
            }
        }
    }
}