@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import 'assets/scss/config/corporate/_variables.scss';

.simple-editor {
    min-height: 300px;
    display: block;

    position: relative;

    &::after {
        content: 'Loading Editor';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #eee;
        border-radius: 10px;
        top: 0;
        left: 0;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }

    &.rendered {
        &::after {
            display: none;
        }
    }
}

.ngx-spinner-overlay {
    border: 1px solid #e9ebec;
    border-radius: 3px;
    margin: 0;
}

.form-control {
    &.ng-invalid {
        border-color: #dc3545;
    }
}

.control-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}


.btn:disabled {
    &.active {
        opacity: 1;
    }
}

.test-definition-sidebar {
    --vz-accordion-border-width: 0;
    --vz-accordion-active-bg: transparent;
    --vz-accordion-btn-focus-box-shadow: 0;

    .accordion-item {
        &.setting-parts {
            .accordion-button {
                padding-top: 0 !important;
            }
        }

        background-color: unset;

        .accordion-header {
            background-color: unset;

            .accordion-button {
                background-color: unset;
                padding: 16px 0 10px 0;

                .panel-title {
                    padding-right: 10px;
                }
            }
        }

        .accordion-body {
            padding: 0;

            .list-group {
                &-item {
                    background-color: unset;

                    &.active {
                        background-color: white;
                        color: var(--vz-list-group-color);
                        border-radius: 6px;
                        font-weight: 600;
                        box-shadow: $card-box-shadow;
                    }
                }
            }
        }
    }
}

.test-sheet-questions-review {
    &.accordion {
        .accordion-header {
            .accordion-button {
                gap: 1.5rem;

                &:not(.collapsed) {
                    .question-description {
                        opacity: 0;
                    }
                }
            }
        }

        .accordion-body {
            color: unset;
        }
    }
}
