

.short-editor {
    .ck-editor__editable {
        min-height: 100px !important;
    }
}

.ngx-spinner-overlay {
    border: 1px solid #e9ebec;
    border-radius: 3px;
    margin: 0 12px;
}

.control-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
  }