<div class="row">
    <ng-container *ngIf="readyForUI$ | async">
        <div class="col-lg-12">
            <div class="card" [formGroup]="testAccessForm">
                <div class="card-body">
                    <div class="mb-3">
                        <h5>Channel</h5>
                        <div class="d-flex gap-3">
                            <button type="button" class="btn btn-primary btn-label active">
                                <i class="ri-ie-fill label-icon align-middle fs-24 me-2"></i>Web Browser</button>
                            <button type="button" class="btn btn-primary btn-label" disabled>
                                <i class="ri-team-line label-icon align-middle fs-24 me-2"></i>Microsoft Teams</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h5>Access type</h5>
                        <div class="d-flex gap-3">
                            <button type="radio" [class.active]="activatedAccessType === TestAccessType.PublicLink"
                                class="btn btn-primary btn-label"
                                (click)="onAccessTypeSelected(TestAccessType.PublicLink)" [disabled]="isReadonly">
                                <i class="ri-ie-fill label-icon align-middle fs-24 me-2"></i>Public link</button>

                            <button type="button"
                                [class.active]="activatedAccessType === TestAccessType.PrivateAccessCode"
                                class="btn btn-primary btn-label"
                                (click)="onAccessTypeSelected(TestAccessType.PrivateAccessCode)"
                                [disabled]="isReadonly">
                                <i class="ri-lock-password-line label-icon align-middle fs-24 me-2"></i>Private code
                                access</button>

                            <button type="button" [class.active]="activatedAccessType === TestAccessType.GroupPassword"
                                class="btn btn-primary btn-label"
                                (click)="onAccessTypeSelected(TestAccessType.GroupPassword)" [disabled]="true">
                                <i class="ri-team-line label-icon align-middle fs-24 me-2"></i>Group password</button>

                            <button type="button" [class.active]="activatedAccessType === TestAccessType.Training"
                                class="btn btn-primary btn-label" [disabled]="true"
                                (click)="onAccessTypeSelected(TestAccessType.Training)" [disabled]="true">
                                <i class="ri-ball-pen-line label-icon align-middle fs-24 me-2"></i>Training</button>
                        </div>
                    </div>
                    <ng-container *ngIf="activatedAccessType === TestAccessType.PublicLink"
                        formGroupName="{{activatedAccessType}}">
                        <div class="mb-3">
                            <div class="alert alert-info alert-border-left alert-dismissible fade show" role="alert">
                                <i class="ri-airplay-line me-3 align-middle"></i><span>Anyone who has a link will be
                                    able to take the test</span>
                            </div>
                        </div>
                        <div class="hstack gap-3 mb-3">
                            <a class="form-control" [href]="publicTestAccessLink"
                                target="_blank">{{publicTestAccessLink}}</a>
                            <button type="button" class="btn btn-outline-secondary flex-shrink-0"
                                [cdkCopyToClipboard]="publicTestAccessLink">Copy link</button>
                        </div>
                        <div class="hstack form-check form-switch form-switch-lg mb-3">
                            <input type="checkbox" role="switch" id="requireAccessCode" class="form-check-input"
                                formControlName="requireAccessCode">
                            <label for="requireAccessCode" class="form-check-label">Require a private test access code
                                to authenticate a respondent. Before the test starts, a respondent will have to enter
                                their email address to which code will be sent.</label>
                        </div>
                        <div class="mb-3">
                            <h6>Attempts per respondent</h6>
                            <select data-choices class="form-select" style="width: 300px;" formControlName="attempts">
                                <option *ngFor="let time of testAccessFormConfig.attemptsPerRespondentRange"
                                    [ngValue]="time">{{time}}</option>
                            </select>
                            <small class="text-muted">Number of times a respondent can take test.</small>
                        </div>
                        <button type="button" class="btn btn-link waves-effect">
                            <i class="ri-window-line label-icon align-middle fs-24 me-2"></i>How to embed a test on a
                            website?</button>
                    </ng-container>
                    <ng-container *ngIf="activatedAccessType === TestAccessType.PrivateAccessCode"
                        formGroupName="{{activatedAccessType}}">
                        <div class="mb-3">
                            <div class="alert alert-info alert-border-left alert-dismissible fade show" role="alert">
                                <i class="ri-airplay-line me-3 align-middle"></i><span>Test access will be possible only
                                    with an individual access code</span>
                            </div>
                        </div>
                        <div class="hstack gap-3 mb-3 align-items-start" [formGroup]="codeGenerationForm">
                            <div>
                                <input class="form-control border-dashed" type="number" style="width: 300px;"
                                    formControlName="count">
                            </div>
                            <viet-geeks-submit-button [class]="'btn btn-secondary flex-shrink-0'"
                                [submitFunc]="generateCodesFunc" [canSubmit]="canGenerateCodes" text="Generate"
                                processingText="Generating..."></viet-geeks-submit-button>

                        </div>
                        <div class="gap-3 mb-3">
                            <table class="table table-striped align-middle" formArrayName="configs">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">#</th>
                                        <th scope="col">Access code</th>
                                        <th scope="col">Test Set</th>
                                        <th scope="col">Email</th>
                                        <th scope="col"><input type="checkbox" class="form-check-input"
                                                (change)="toggleSelectAllSendCode()"><span class="ms-2">Send a
                                                code</span></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container
                                        *ngFor="let control of privateAccessCodeConfigsCtrl.controls; let i = index">
                                        <tr [formGroup]="control" class="align-baseline">
                                            <th></th>
                                            <td>{{i + 1}}</td>
                                            <td>{{control.get('code')?.value}}</td>
                                            <td>{{control.get('setId')?.value ?? '[Auto]'}}</td>
                                            <td><input class="form-control border-dashed" type="text"
                                                    style="max-width: 300px;" formControlName="email"></td>
                                            <td>
                                                <input type="checkbox" class="form-check-input"
                                                    formControlName="sendCode">
                                                <span
                                                    class="btn btn-outline-info btn-sm ms-2">{{getTestInvitationStat(control.get('code')?.value)}}</span>
                                            </td>
                                            <td>
                                                <i class="ri-delete-bin-line delete-icon"
                                                    [swal]="{ title: 'Confirmation', text: 'You want to delete this access code!', showCancelButton: true }"
                                                    (confirm)="removeAccessCode(i)"></i>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3">
                            <h6>Attempts per respondent</h6>
                            <select data-choices class="form-select" style="width: 300px;" formControlName="attempts">
                                <option *ngFor="let time of testAccessFormConfig.attemptsPerRespondentRange"
                                    [ngValue]="time">{{time}}</option>
                            </select>
                            <small class="text-muted">Number of times a respondent can take test.</small>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="activatedAccessType === TestAccessType.GroupPassword"
                        formGroupName="{{activatedAccessType}}">
                        <div class="mb-3">
                            <div class="alert alert-info alert-border-left alert-dismissible fade show" role="alert">
                                <i class="ri-airplay-line me-3 align-middle"></i>Test will be available only to
                                respondents who know your subdomain and group password
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>Set group password</h6>
                            <div class="hstack gap-3">
                                <input class="form-control border-dashed" type="text" style="width: 300px;"
                                    formControlName="password">
                                <button type="button" class="btn btn-secondary flex-shrink-0"
                                    (click)="generateGroupPassword()">Generate</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>Attempts per respondent</h6>
                            <select data-choices class="form-select" style="width: 300px;" formControlName="attempts">
                                <option *ngFor="let time of testAccessFormConfig.attemptsPerRespondentRange"
                                    [ngValue]="time">{{time}}</option>
                            </select>
                            <small class="text-muted">Number of times a respondent can take test.</small>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="activatedAccessType === TestAccessType.Training"
                        formGroupName="{{activatedAccessType}}">
                        <div class="mb-3">
                            <div class="alert alert-info alert-border-left alert-dismissible fade show" role="alert">
                                <i class="ri-airplay-line me-3 align-middle"></i>This access type is for practice only
                                and is not suitable for assessments
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <h5>HONEST RESPONDENT TECHNOLOGY</h5>
                        <label>To increase test results reliability, activate a mechanism that monitors browser tab
                            movements. If any movement or tab switching is detected, the mechanism issues warnings or
                            blocks
                            the test, according to the settings of your choice.</label>
                    </div>
                    <ngb-alert [type]="'info'" [dismissible]="false"
                        class="alert-additional fade show custom-alert mb-3">
                        <div class="alert-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <i class="ri-information-line fs-16 align-middle"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="alert-heading">Leaving test page accidentally</h5>
                                    <p class="mb-0">If Honest Respondent Technology is activated, respondents receive a
                                        notification on the test start page. They are advised to disable system
                                        notifications, close applications running in the background and focus on taking
                                        the
                                        test.</p>
                                    <p>It may happen, however, that a respondent leaves the test tab unintentionally.
                                        This
                                        can be caused by changing the volume, clicking outside the test tab or switching
                                        the
                                        taskbar on. If the test is taken on a mobile device, any notifications or calls
                                        may
                                        also trigger a warning.</p>
                                    <button type="button" class="btn btn-primary btn-label">See how it works</button>
                                </div>
                            </div>
                        </div>
                    </ngb-alert>
                    <div class="d-inline-flex flex-wrap gap-3 mb-3">
                        <div class="form-check form-check-secondary">
                            <input class="form-check-input" type="radio" id="percentage-score" [disabled]="true">
                            <label class="form-check-label" for="percentage-score">Disable</label>
                        </div>
                        <div class="form-check form-check-secondary">
                            <input class="form-check-input" type="radio" id="p2" [disabled]="true">
                            <label class="form-check-label" for="p2">Enable warnings only</label>
                        </div>
                        <div class="form-check form-check-secondary">
                            <input class="form-check-input" type="radio" id="p3" [disabled]="true">
                            <label class="form-check-label" for="p3">Enable warning and test block</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end mb-4">
                <div class="d-flex gap-1 justify-content-end">
                    <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc"
                        [canSubmit]="canSubmit"></viet-geeks-submit-button>
                </div>
            </div>
        </div>
    </ng-container>
</div>