<div class="row">
    <ng-container *ngIf="readyForUI$ | async">
        <div class="col-lg-12" [formGroup]="timeSettingsForm">
            <div class="card" formGroupName="testDurationMethod">
                <h5 class="card-header border-bottom-0">TEST DURATION</h5>
                <div class="card-body">
                    <label>Select test duration measuring method:</label>
                    <div class="vstack mb-3" *ngFor="let option of testDurationMethodOptions; let i = index;">
                        <div class="form-check mb-2">
                            <input class="form-check-input" [value]="option.id" type="radio"
                                id="test-duration-method-{{i}}" formControlName="type">
                            <label class="form-check-label" for="test-duration-method-{{i}}">
                                {{option.textKey}}
                            </label>
                        </div>
                        <div formGroupName="{{option.id}}">
                            <input type="text" class="form-control border-dashed" [inputMask]="option.inputMask"
                                style="width: 150px;" formControlName="duration">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" formGroupName="testActivationMethod">
                <h5 class="card-header border-bottom-0">TEST ACTIVATION OPTIONS</h5>
                <div class="card-body">
                    <label>Choose test activation method:</label>
                    <ng-container *ngFor="let option of testActivationMethodOptions; let i = index;">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" [value]="option.id"
                                id="activate-method-{{i}}-toggler" formControlName="type">
                            <label class="form-check-label" for="activate-method-{{i}}-toggler">
                                {{option.textKey}}
                            </label>
                        </div>
                        <ng-container *ngIf="option.id === TestActivationMethodTypeRef.ManualTest">
                            <ngb-alert [type]="'info'" [dismissible]="false"
                                class="alert-additional fade show custom-alert mb-3">
                                <div class="alert-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="ri-information-line fs-16 align-middle"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">In the bottom part of the configuration menu, you will find
                                                the
                                                "Activate test" button. After
                                                clicking it, respondents can access the test in the timeframe specified
                                                below.
                                                When
                                                setting the
                                                value, remember that latecomers won't be allowed to start the test.</p>
                                        </div>
                                    </div>
                                </div>
                            </ngb-alert>
                            <div class="mb-3" formGroupName="{{TestActivationMethodTypeRef.ManualTest}}">
                                <label for="flexRadioDefault2">Test will remain active for ([d.]hh:mm:ss):</label>
                                <input class="form-control border-dashed" type="text" style="width: 150px;"
                                    [inputMask]="dhhmmssInputMask" formControlName="activeUntil">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="option.id === TestActivationMethodTypeRef.TimePeriod">
                            <!-- time period activation -->
                            <ngb-alert [type]="'info'" [dismissible]="false"
                                class="alert-additional fade show custom-alert mb-3">
                                <div class="alert-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="ri-information-line fs-16 align-middle"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Set a date on which your test will be active and the
                                                deadline before which respondents must start taking it (they will still
                                                be able to finish it after the deadline).</p>
                                        </div>
                                    </div>
                                </div>
                            </ngb-alert>
                            <div class="d-flex flex-wrap gap-3"
                                formGroupName="{{TestActivationMethodTypeRef.TimePeriod}}">
                                <div class="flemb-3">
                                    <label for="flexRadioDefault2">Test activation date</label>
                                    <input class="form-control border-dashed" type="datetime-local"
                                        style="width: 200px;" formControlName="activeFromDate">
                                </div>
                                <div class="flex-grow-1 mb-3">
                                    <label for="flexRadioDefault2">Access closing date</label>
                                    <input class="form-control border-dashed" type="datetime-local"
                                        style="width: 200px;" formControlName="activeUntilDate">
                                </div>
                                <div class="col-lg-12">
                                    <label>Current server time in your time zone is: <b>{{userProfileService.currentUserTime}}
                                            ({{userProfileService.currentTimeZone}})</b>. You can change
                                        your
                                        time
                                        zone in : </label>
                                    <a [routerLink]="['/']" class="btn btn-link"><i
                                            class="ri-global-line align-bottom me-1"></i>Language and region
                                        settings</a>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header border-bottom-0">ADDTIONAL OPTIONS</h5>
                <div class="card-body" formGroupName="answerQuestionConfig">
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="skipQuestionTogogler"
                            formControlName="skipQuestion">
                        <label class="form-check-label" for="skipQuestionTogogler">
                            Allow answering questions in any order and moving back or skipping questions
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-end mb-4" *ngIf="!isReadonly">
                <div class="d-flex gap-1 justify-content-end">
                    <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc"
                        [canSubmit]="canSubmit"></viet-geeks-submit-button>
                </div>
            </div>
        </div>
    </ng-container>
</div>