<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card bg-soft-primary">
        <div class="card-body">
          <div>
            <h3>{{sessionData.testDescription}}</h3>
          </div>
        </div>
      </div>
      <div class="card bg-soft-primary">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="text-uppercase">Respondent</h5>
            <div class="d-flex" *ngFor="let field of respondent">
              <i class="ri-information-line fs-4 p-1"></i><span class="p-1">{{fieldLabels[field.id]}}: </span><span
                class="p-1 fw-bold">{{field.fieldValue}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-soft-primary">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="text-uppercase">Summary</h5>
            <div>
              <p [innerHTML]="afterTestConfig?.testEndConfig?.message"></p>
              <ng-container *ngIf="showPassFailMessage">
                <p *ngIf="passMarkGrading?.passMarkGrade?.isPass; else failMessage"
                  [innerHTML]="afterTestConfig?.informRespondentConfig?.passedMessage"></p>
                <ng-template #failMessage>
                  <p [innerHTML]="afterTestConfig?.informRespondentConfig?.failedMessage"></p>
                </ng-template>
              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <viet-geeks-exam-result-overview containerClass="bg-soft-primary" [gradings]="sessionData.grading || []"></viet-geeks-exam-result-overview>
    </div>
    <div class="col-lg-6">
      <viet-geeks-exam-result-timer containerClass="bg-soft-primary" [examTime]="sessionData" [maxTime]="maxTime" [totalTime]="totalTime"></viet-geeks-exam-result-timer>
    </div>
  </div>
  <viet-geeks-test-finish-answers *ngIf="showCorrectAnswers" [sessionData]="sessionData" [afterTestConfig]="afterTestConfig"></viet-geeks-test-finish-answers>
</div>
