<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div>
            <h3>{{sessionData.testDescription}}</h3>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="text-uppercase">Respondent</h5>
            <div class="d-flex" *ngFor="let field of respondent">
              <i class="bx bx-info-square fs-4 p-1"></i><span class="p-1">{{field.id}}: </span><span class="p-1 fw-bold">{{field.fieldValue}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="passMarkGrading">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <h4 class="text-uppercase">Result</h4>
            <div class="col-xl-6">
              <div class="d-flex pass" *ngIf="passMarkGrading.isPass; else fail">
                <i class="bx bxs-check-square fs-3"></i> <h5>Test passed</h5>
              </div>
              <ng-template #fail>
                <div class="d-flex fail">
                  <i class="bx bxs-x-square fs-3"></i><h5>Test failed</h5>
                </div>
                </ng-template>
            </div>
            <div class="col-xl-6">
              <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [plotOptions]="chartOptions.plotOptions"
                  [labels]="chartOptions.labels"
                  [stroke]="chartOptions.stroke"
                  [fill]="chartOptions.fill"
                  [colors]="chartOptions.colors"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <h4 class="text-uppercase">Timer</h4>
            <div>
              <h5>Total time</h5>
              <div class="row mb-3">
                <div class="d-flex fs-3">
                  <span class="fw-bold">{{totalTime | formatTimeSpan}}</span><span>/</span><span class="opacity-75">{{maxTime | formatTimeSpan}}</span>
                </div>
              </div>
              <h5>Start time</h5>
              <div class="row mb-3">
                <div class="d-flex fs-3">
                  <span class="fw-bold">{{sessionData.startTime | formatLocalDateTime}}</span>
                </div>
              </div>
              <h5>End time</h5>
              <div class="row" mb-3>
                <div class="d-flex fs-3">
                  <span class="fw-bold">{{sessionData.endTime | formatLocalDateTime}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
