<div class="row">
    <ng-container *ngIf="readyForUI$ | async">
        <div class="col-lg-12" [formGroup]="gradeForm">
            <div class="card" formGroupName="testEndConfig">
                <h5 class="card-header border-bottom-0 text-uppercase" translate>pages.grading.testEndMessage</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label translate>pages.grading.testEndMessageHint</label>
                        <editor vietGeeksEditorLoadingIndicator class="simple-editor" formControlName="message"
                            [apiKey]="textEditorConfigs.apiKey"
                            (onInit)="textEditorConfigs.handleEditorInit('testEndConfig.message', $event)"
                            (onFocusOut)="gdprErrorTailor.showError()" [init]="textEditorConfigs.simpleEditorConfig"
                            #gdprErrorTailor="errorTailor" [controlErrorAnchor]="messageAnchor">
                        </editor>
                        <ng-template controlErrorAnchor #messageAnchor="controlErrorAnchor"></ng-template>
                    </div>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input type="checkbox" role="switch" id="i3" class="form-check-input"
                            formControlName="redirectTo">
                        <label for="i3" class="form-check-label" translate>pages.grading.redirectAfterTest</label>
                    </div>
                    <ngb-alert [type]="'info'" [dismissible]="false"
                        class="alert-additional fade show custom-alert mb-3">
                        <div class="alert-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <i class="ri-information-line fs-16 align-middle"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="alert-heading"translate>pages.grading.redirectAfterTestHint</h5>
                                </div>
                            </div>
                        </div>
                    </ngb-alert>
                    <input formControlName="toAddress" type="url" class="form-control" placeholder="{{ 'pages.grading.website' | translate }}">
                </div>
            </div>
            <div class="card" formGroupName="gradingCriterias">
                <h5 class="card-header border-bottom-0 text-uppercase" translate>pages.grading.criteria.title</h5>
                <div class="card-body">
                    <ngb-alert [type]="'info'" [dismissible]="false"
                        class="alert-additional fade show custom-alert mb-3">
                        <div class="alert-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <i class="ri-information-line fs-16 align-middle"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="mb-0" translate>pages.grading.criteria.hint</p>
                                </div>
                            </div>
                        </div>
                    </ngb-alert>
                    <div class="mb-3">
                        <label>{{'pages.grading.criteria.hint2' | translate:{percent: 100, point: gradeFormConfigs.maxPoint} }}</label>
                    </div>
                    <!-- Pass mask criteria -->
                    <div class="mb-3" formGroupName="{{GradingCriteriaConfigTypeUI.PassMask}}">
                        <div class="hstack form-check form-switch form-switch-lg ms-auto">
                            <input type="checkbox" role="switch" class="form-check-input" id="passmask-criteria-toggler"
                                [checked]="passMaskGradeCtrl.enabled"
                                (change)="toggleGradeCriteria({id: GradingCriteriaConfigTypeUI.PassMask, originEvent: $event})">
                            <label for="passmask-criteria-toggler" class="form-check-label" translate>pages.grading.criteria.passMark</label>
                        </div>
                        <div class="row" [attr.hidden]="isPassMaskGradeCtrlEnabled ? null : ''">
                            <div class="col-sm-auto">
                                <label for="mask-value" class="form-label">{{ 'pages.grading.criteria.passMarkValue' | translate }}<span class="required-asterisk">*</span></label>
                                <input type="number" class="form-control" formControlName="value">
                            </div>
                            <div class="col-sm-auto">
                                <label class="form-label" translate>pages.grading.criteria.passMarkUnit</label>
                                <select class="form-select" formControlName="unit">
                                    <option [ngValue]="r.value" *ngFor="let r of gradeFormConfigs.rangeUnits">{{r.key}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Grading range criteria -->
                    <div class="mb-3" formGroupName="{{GradingCriteriaConfigTypeUI.GradeRanges}}">
                        <div class="hstack form-check form-switch form-switch-lg mb-3">
                            <input type="checkbox" role="switch" id="grade-ranges-toggler" class="form-check-input"
                                [checked]="gradeRangesCtrl.enabled"
                                (change)="toggleGradeCriteria({id: GradingCriteriaConfigTypeUI.GradeRanges, originEvent: $event})">
                            <label for="grade-ranges-toggler" class="form-check-label" translate>pages.grading.criteria.rangesHint</label>
                        </div>
                        <div [attr.hidden]="isGradeRangesCtrlEnabled ? null : ''">
                            <div class="row mb-3">
                                <div class="col-sm-auto">
                                    <label class="form-label" translate>pages.grading.criteria.gradeTypes</label>
                                    <select class="form-select" formControlName="gradeType">
                                        <option [ngValue]="r.value" *ngFor="let r of gradeFormConfigs.gradeTypes">
                                            {{r.key}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-auto">
                                    <label class="form-label" translate>pages.grading.criteria.gradeUnit</label>
                                    <select class="form-select" formControlName="unit">
                                        <option [ngValue]="r.value" *ngFor="let r of gradeFormConfigs.rangeUnits">
                                            {{r.key}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="card" formArrayName="details">
                                <h5 class="card-header"><span translate>pages.grading.criteria.ranges</span> ({{gradeRangesDetailsCtrl.length}})</h5>
                                <div class="card-body">
                                    <div *ngIf="gradeRangesDetailsCtrl.hasError('required')"><label
                                            class="control-error">{{'errors.listRequired' | translate}}</label></div>
                                    <div class="mb-3" [formGroup]="ctrl"
                                        *ngFor="let ctrl of gradeRangesDetailsCtrl.controls;  index as i;">
                                        <div class="hstack">
                                            <div class="d-inline-flex align-items-center mb-3 gap-1">
                                                <label class="fw-bold">{{ 'pages.grading.criteria.rangeNumber' | translate: {number: i + 1} }}:</label>
                                                <label translate [translateParams]="{number: getToValueOfGradeRangesDetails(i - 1), unit: selectedGradeRangeUnit}">pages.grading.criteria.rangeFrom</label>
                                                <div class="range-to-value">
                                                    <input type="number" class="form-control border-dashed"
                                                        style="width: 100px;" formControlName="to" [controlErrorsOnChange]="true"
                                                        (change)="rangeChanged()">
                                                </div>
                                                <label>{{selectedGradeRangeUnit}}</label>
                                            </div>
                                            <i class="ri-delete-bin-line delete-icon ms-auto"
                                                (click)="removeRangeDetail(i)"></i>
                                        </div>
                                        <ng-container formGroupName="grades">
                                            <div class="mb-3" *ngIf="ctrl.get(['grades', GradeTypeUI.Grade])?.enabled">
                                                <label class="text-muted">{{ 'pages.grading.criteria.grade' | translate }} <span class="required-asterisk">*</span></label>
                                                <input type="text" class="form-control"
                                                    formControlName="{{GradeTypeUI.Grade}}">
                                            </div>
                                            <div class="mb-3"
                                                *ngIf="ctrl.get(['grades', GradeTypeUI.Descriptive])?.enabled">
                                                <label class="text-muted">Descriptive grade <span class="required-asterisk">*</span></label>
                                                <textarea class="form-control"
                                                    (blur)="descriptiveErrorTailor.showError()"
                                                    formControlName="{{GradeTypeUI.Descriptive}}"
                                                    #descriptiveErrorTailor="errorTailor"
                                                    [controlErrorAnchor]="descriptiveAnchor"></textarea>
                                                <ng-template controlErrorAnchor
                                                    #descriptiveAnchor="controlErrorAnchor"></ng-template>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary btn-label"
                                        (click)="addNewGradeRange()">
                                        <i class="ri-add-line label-icon align-middle fs-24 me-2"></i>{{ 'pages.grading.criteria.addRange' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" formGroupName="informRespondentConfig">
                <h5 class="card-header border-bottom-0 text-uppercase" translate>pages.grading.infoForRespondents</h5>
                <div class="card-body">
                    <label translate>pages.grading.infoForRespondentsHint</label>
                    <ngb-alert [type]="'info'" [dismissible]="false"
                        class="alert-additional fade show custom-alert mb-3">
                        <div class="alert-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <i class="ri-information-line fs-16 align-middle"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="mb-0" translate>pages.grading.infoForRespondentsHint2</p>
                                </div>
                            </div>
                        </div>
                    </ngb-alert>
                    <div class="d-inline-flex flex-wrap gap-3 mb-3" formGroupName="informFactors">
                        <div class="form-check form-check" *ngFor="let factor of InformFactorUI | keyvalue">
                            <input class="form-check-input" type="checkbox" id="inform-factor-{{factor.value}}"
                                formControlName="{{factor.value}}">
                            <label class="form-check-label" for="inform-factor-{{factor.value}}">{{ 'pages.grading.informFactors.' + factor.key | translate }}</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label translate>pages.grading.passMessage</label>
                        <editor vietGeeksEditorLoadingIndicator class="simple-editor" formControlName="passedMessage"
                            [apiKey]="textEditorConfigs.apiKey"
                            (onInit)="textEditorConfigs.handleEditorInit('informRespondentConfig.passedMessage', $event)"
                            (onFocusOut)="passedMessageErrorTailor.showError()"
                            [init]="textEditorConfigs.simpleEditorConfig" #passedMessageErrorTailor="errorTailor"
                            [controlErrorAnchor]="passedMessageAnchor"></editor>
                        <ng-template controlErrorAnchor #passedMessageAnchor="controlErrorAnchor"></ng-template>
                    </div>
                    <div class="mb-3">
                        <label translate>pages.grading.failMessage</label>
                        <editor vietGeeksEditorLoadingIndicator class="simple-editor" formControlName="failedMessage"
                            [apiKey]="textEditorConfigs.apiKey"
                            (onInit)="textEditorConfigs.handleEditorInit('informRespondentConfig.failedMessage', $event)"
                            (onFocusOut)="failedMessageErrorTailor.showError()"
                            [init]="textEditorConfigs.simpleEditorConfig" #failedMessageErrorTailor="errorTailor"
                            [controlErrorAnchor]="failedMessageAnchor"></editor>
                        <ng-template controlErrorAnchor #failedMessageAnchor="controlErrorAnchor"></ng-template>
                    </div>
                    <div class="form-check form-switch form-switch-lg">
                        <input type="checkbox" role="switch" id="informViaEmailToggler" class="form-check-input"
                            formControlName="informViaEmail">
                        <label for="informViaEmailToggler" class="form-check-label" translate>pages.grading.informResultViaEmail</label>
                    </div>
                    <small class="text-muted" translate>pages.grading.informResultViaEmailHint</small>
                </div>
            </div>
            <!-- <div class="card">
                <h5 class="card-header border-bottom-0">MY FEEDBACK</h5>
                <div class="card-body">
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input type="checkbox" role="switch" id="i2" class="form-check-input">
                        <label for="i2" class="form-check-label">Send every respondent's results in separate email (1
                            respondent = 1 message)</label>
                    </div>
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input type="checkbox" role="switch" id="i3" class="form-check-input">
                        <label for="i3" class="form-check-label">Send collective results after the test has ended (1
                            message)</label>
                    </div>
                </div>
            </div> -->
            <div class="text-end mb-4">
                <div class="d-flex gap-1 justify-content-end">
                    <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc"
                        [canSubmit]="canSubmit"></viet-geeks-submit-button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
