<div class="row">
    <ng-container *ngIf="readyForUI$ | async">
        <div class="col-lg-12" [formGroup]="timeSettingsForm">
            <div class="card" formGroupName="testDurationMethod">
                <h5 class="card-header border-bottom-0 text-uppercase" translate>pages.testTime.testDuration.title</h5>
                <div class="card-body">
                    <label translate>pages.testTime.testDuration.hint</label>
                    <div class="vstack mb-3" *ngFor="let option of testDurationMethodOptions; let i = index;">
                        <div class="form-check mb-2">
                            <input class="form-check-input" [value]="option.id" type="radio"
                                id="test-duration-method-{{i}}" formControlName="type">
                            <label class="form-check-label" for="test-duration-method-{{i}}">
                                {{option.textKey | translate}}
                            </label>
                        </div>
                        <div formGroupName="{{option.id}}">
                            <input type="text" class="form-control border-dashed" [inputMask]="option.inputMask"
                                style="width: 150px;" formControlName="duration">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" formGroupName="testActivationMethod">
                <h5 class="card-header border-bottom-0 text-uppercase" translate>pages.testTime.testActivation.title</h5>
                <div class="card-body">
                    <label translate>pages.testTime.testActivation.hint</label>
                    <ng-container *ngFor="let option of testActivationMethodOptions; let i = index;">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" [value]="option.id"
                                id="activate-method-{{i}}-toggler" formControlName="type">
                            <label class="form-check-label" for="activate-method-{{i}}-toggler">
                                {{option.textKey | translate}}
                            </label>
                        </div>
                        <ng-container *ngIf="option.id === TestActivationMethodTypeRef.ManualTest">
                            <ngb-alert [type]="'info'" [dismissible]="false"
                                class="alert-additional fade show custom-alert mb-3">
                                <div class="alert-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="ri-information-line fs-16 align-middle"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0" translate>pages.testTime.testActivation.manualActivationHint</p>
                                        </div>
                                    </div>
                                </div>
                            </ngb-alert>
                            <div class="mb-3" formGroupName="{{TestActivationMethodTypeRef.ManualTest}}">
                                <label for="flexRadioDefault2" translate>pages.testTime.testActivation.timePeriodActivation</label>
                                <input class="form-control border-dashed" type="text" style="width: 150px;"
                                    [inputMask]="dhhmmssInputMask" formControlName="activeUntil">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="option.id === TestActivationMethodTypeRef.TimePeriod">
                            <!-- time period activation -->
                            <ngb-alert [type]="'info'" [dismissible]="false"
                                class="alert-additional fade show custom-alert mb-3">
                                <div class="alert-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="ri-information-line fs-16 align-middle"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0" translate>pages.testTime.testActivation.timePeriodActivationHint</p>
                                        </div>
                                    </div>
                                </div>
                            </ngb-alert>
                            <div class="d-flex flex-wrap gap-3"
                                formGroupName="{{TestActivationMethodTypeRef.TimePeriod}}">
                                <div class="flemb-3">
                                    <label for="flexRadioDefault2" translate>pages.testTime.testActivation.testActivationDate</label>
                                    <input class="form-control border-dashed" type="datetime-local"
                                        style="width: 200px;" formControlName="activeFromDate">
                                </div>
                                <div class="flex-grow-1 mb-3">
                                    <label for="flexRadioDefault2" translate>pages.testTime.testActivation.testClosingDate</label>
                                    <input class="form-control border-dashed" type="datetime-local"
                                        style="width: 200px;" formControlName="activeUntilDate">
                                </div>
                                <div class="col-lg-12">
                                    <label>{{ 'pages.testTime.testActivation.timeZoneInfo' | translate:{time: userProfileService.currentUserTime, zone: userProfileService.currentTimeZone} }}</label>
                                    <a [routerLink]="['/']" class="btn btn-link"><i class="ri-global-line align-bottom me-1"></i>{{'pages.testTime.testActivation.languageAndRegionSettings' | translate}}</a>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header border-bottom-0" translate>pages.testTime.testActivation.addtionalOptions.title</h5>
                <div class="card-body" formGroupName="answerQuestionConfig">
                    <div class="form-check form-switch form-switch-lg mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="skipQuestionTogogler"
                            formControlName="skipQuestion">
                        <label class="form-check-label" for="skipQuestionTogogler" translate>pages.testTime.testActivation.addtionalOptions.allowAnswerAnyOrder</label>
                    </div>
                </div>
            </div>
            <div class="text-end mb-4" *ngIf="!isReadonly">
                <div class="d-flex gap-1 justify-content-end">
                    <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc"
                        [canSubmit]="canSubmit"></viet-geeks-submit-button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
