<div class="row" [formGroup]="questionForm">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label for="question-answer-type-input" class="form-label">Question</label>
              <editor class="simple-editor" formControlName="description" [apiKey]="textEditorConfigs.apiKey"
              (onInit)="textEditorConfigs.handleEditorInit('editQuestion.description', $event)"
              (onFocusOut)="gdprErrorTailor.showError()" [init]="textEditorConfigs.simpleEditorWithImage"
              #gdprErrorTailor="errorTailor" [controlErrorAnchor]="messageAnchor"></editor>
          <ng-template controlErrorAnchor #messageAnchor="controlErrorAnchor"></ng-template>
          </div>
          <div class="mb-3">
            <label for="question-category-input" class="form-label">Catetory</label>
            <div class="row">
              <div class="col-sm-6">
                <select data-choices formControlName="categoryId" class="form-select" id="question-category-input">
                  <option [ngValue]="c.id" *ngFor="let c of questionCategories$ | async">{{c.name}}</option>
                </select>
              </div>
              <div class="col-sm-auto">
                <button class="btn btn-outline-primary" (click)="addCategory()">Add New Category</button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="question-answer-type-input" class="form-label">Answer type</label>
            <div class="row">
              <div>
                  <select data-choices formControlName="answerType" class="form-select" id="question-answer-type-input">
                    <option [value]="c.id" *ngFor="let c of answerTypes">{{c.text}}</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header border-bottom-0">Answers</h5>
        <div class="card-body">
          <label>Add possible answers to this question. Respondents will receive points only if their answers are exactly
            the same as those set by you.</label>
          <table class="table caption-top table-nowrap">
            <thead class="table-light">
              <tr class="text-center">
                <th scope="col">Correct answer</th>
                <th scope="col">Description</th>
                <th scope="col" *ngIf="isMultipleChoiceAnswer && isPartialScore">Point</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr formArrayName="answers" *ngFor="let answer of answers['controls']; let i = index;">
                <ng-container [formGroupName]="i">
                  <td class="text-center">
                    <input *ngIf="isMultipleChoiceAnswer; else singleChoice" type="checkbox" role="switch" id="flexSwitchCheckRightDisabled_{{i}}" class="form-check-input" formControlName="isCorrect">
                    <ng-template #singleChoice>
                      <input type="radio" role="switch" id="flexSwitchCheckRightDisabled_{{i}}" [value]="i" class="form-check-input" name="selectedIndex" formControlName="selectedIndex" (change)="selectSingleChoice(i)">
                    </ng-template>
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="answerDescription">
                  </td>
                  <td class="hstack gap-2" *ngIf="isMultipleChoiceAnswer && isPartialScore">
                    <input type="number" class="form-control" formControlName="answerPoint">
                  </td>
                  <td>
                    <div class="hstack gap-2">
                      <button type="button" class="btn btn-outline-secondary" (click)="removeAnswer(i)"><i class="ri-delete-bin-5-line"></i></button>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-outline-secondary btn-label" (click)="addEmptyAnswer()"><i class="ri-add-line label-icon align-middle fs-24 me-2"></i>Add answer</button>
        </div>
      </div>
      <div class="card" [formGroup]="scoreSettingsForm">
        <h5 class="card-header border-bottom-0">Score settings</h5>
        <div class="card-body">
          <ng-container [ngSwitch]="answerType">
            <ng-container *ngSwitchCase="1">
              <div class="alert alert-info alert-additional fade show custom-alert mb-3">
                <div class="alert-body">
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <i class="ri-information-line fs-16 align-middle"></i>
                    </div>
                    <div class="flex-grow-1">
                      <p class="alert-heading mb-0">Define the number of points for a correct answer. Negative points for
                        incorrect answers can also be assigned. If you don't want to do so, enter 0 (in words: zero) as the
                        number of points for this answer.</p>
                    </div>
                  </div>
                </div>
            </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-sm-auto">
                    <label for="mask-value" class="form-label">Point for correct answer</label>
                    <input type="number" class="form-control" id="mask-value" placeholder="" formControlName="correctPoint">
                  </div>
                  <div class="col-sm-auto">
                    <label for="mask-value" class="form-label">Point for incorrect answer</label>
                    <input type="number" class="form-control" id="mask-value" placeholder="" formControlName="incorrectPoint">
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <div class="alert alert-additional fade show custom-alert mb-3 alert-info">
                <div class="alert-body">
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <i class="ri-information-line fs-16 align-middle"></i>
                    </div>
                    <div class="flex-grow-1">
                      <p class="alert-heading mb-0">Select a scoring method for your answers. You can choose to score fully
                        correct answers only or partial answers too.</p>
                    </div>
                  </div>
                </div>
            </div>
              <div class="mb-3">
                <div class="hstack gap-3 mb-3">
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" name="isPartialAnswersEnabled" formControlName="isPartialAnswersEnabled" [value]=false>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Score fully correct answers only
                    </label>
                  </div>
                </div>
                <div class="row mb-3" *ngIf="!isPartialScore">
                  <div class="col-sm-auto">
                    <label for="mask-value" class="form-label">Point for correct answer</label>
                    <input type="number" class="form-control" id="mask-value" placeholder="" formControlName="correctPoint" />
                  </div>
                  <div class="col-sm-auto">
                    <label for="mask-value" class="form-label">Point for incorrect answer</label>
                    <input type="number" class="form-control" id="mask-value" placeholder="" formControlName="incorrectPoint"/>
                  </div>
                </div>
                <div class="hstack gap-3 mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" name="isPartialAnswersEnabled" formControlName="isPartialAnswersEnabled" [value]=true>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Score partial answers
                    </label>
                  </div>
                </div>
                <div class="row" *ngIf="isPartialScore">
                  <div class="col-sm-auto">
                    <label for="mask-value" class="form-label">Bonus points for all correct partial answers</label>
                    <input type="number" class="form-control" id="mask-value" placeholder="" formControlName="bonusPoints" />
                  </div>
                  <!-- <div class="col-sm-auto">
                    <label for="mask-value" class="form-label">Number of points for each incorrect partial answer</label>
                    <input type="number" class="form-control" id="mask-value" placeholder="" formControlName="partialIncorrectPoint">
                  </div> -->
                </div>
              </div>
            </ng-container>
          </ng-container>
  
          <div class="hstack form-check form-switch form-switch-lg mb-3">
            <input type="checkbox" role="switch" id="flexSwitchCheckRightDisabled" class="form-check-input" formControlName="isDisplayMaximumScore">
            <label for="flexSwitchCheckRightDisabled" class="form-check-label">Display maximum possible score for this
              question</label>
          </div>
          <div class="hstack form-check form-switch form-switch-lg mb-3">
            <input type="checkbox" role="switch" id="flexSwitchCheckRightDisabled" class="form-check-input" formControlName="mustAnswerToContinue">
            <label for="flexSwitchCheckRightDisabled" class="form-check-label">Force respondent to answer this question
              when displayed the first time</label>
          </div>
          <div class="hstack form-check form-switch form-switch-lg mb-3">
            <input type="checkbox" role="switch" id="flexSwitchCheckRightDisabled" class="form-check-input" formControlName="isMandatory">
            <label for="flexSwitchCheckRightDisabled" class="form-check-label">Terminate the test if the answer to this
              question is incorrect</label>
          </div>
        </div>
      </div>
      <div class="text-end mb-4">
        <div class="d-flex gap-1 justify-content-end">
          <viet-geeks-submit-button [class]="'btn btn-primary w-sm'" [submitFunc]="submitFunc" [canSubmit]="canSubmit"></viet-geeks-submit-button>
        </div>
      </div>
    </div>
  </div>
  